/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */

@import 'tailwindcss/utilities';
@import 'tailwindcss/screens';

@import url('./assets/fonts/TitilliumWeb/TitilliumWeb.scss');

/* Override base SVG style to work with Ant Design */
svg {
  vertical-align: initial;
}
