/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */

@import 'tailwindcss/utilities';
@import 'tailwindcss/screens';

/* Override base SVG style to work with Ant Design */
svg {
  vertical-align: initial;
}

.ant-drawer-header {
  padding: 0 !important;
}
